# Compiled output
/dist
/node_modules

# Environment variables and secrets
.env
.env.production
.env.development
.env.local

# Local caches and logs
/npm-debug.log*
/yarn-error.log*
/yarn-debug.log*
/package-lock.json
cache.json

# OS files
.DS_Store
Thumbs.db
